<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kerwin.springboot.mapper.ChinaMapper" >
  <resultMap id="BaseResultMap" type="com.kerwin.springboot.entity.China" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Pid" property="pid" jdbcType="INTEGER" />
  </resultMap>

  <select id="getChinaById" resultType="com.kerwin.springboot.entity.China" parameterType="integer">
    select * from china where china.id = #{id};
  </select>

</mapper>